@font-face {
	font-family: BebasNeue;
	src: url("/src/Fonts/BebasNeue-Regular.ttf")
}

.nav {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100;
    display: flex;
}

.noactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
    margin-left: -30px;
    margin-right: -30px;

    font-size: 17px;
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.noactive img{
    margin-top: -70px;
    opacity: 0;
}

.active-tur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
    margin-left: -30px;
    margin-right: -30px;

    font-size: 17px;
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    background: linear-gradient(181.04deg, #FFFFFF 0.89%, #0DFFE6 133.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active-tur img{
    margin-top: -70px;
}

.active-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
    margin-left: -30px;
    margin-right: -30px;

    font-size: 17px;
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    background: linear-gradient(181.04deg, #FFFFFF 0.89%, #0D17FF 133.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active-blue img{
    margin-top: -70px;
}

.active-orange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 20px;
    margin-left: -30px;
    margin-right: -30px;

    font-size: 17px;
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    background: linear-gradient(181.04deg, #FFFFFF 0.89%, #FF7A00 133.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active-orange img{
    margin-top: -70px;
}

/*adaptation*/

@media only screen and (max-width: 1000px) {

    .nav {
        display: flex;
        flex-direction: column;
        margin-right: -20px;
    }

    .noactive img{
        margin-top: -70px;
        margin-bottom: -70px;
        opacity: 0;
    }

    #img-nav-m{
        margin-top: -85px;
        margin-bottom: -90px;
    }
    
    .active-tur img{
        margin-top: -70px;
        margin-bottom: -70px;
    }
    
    .active-blue img{
        margin-top: -70px;
        margin-bottom: -70px;
    }
    
    .active-orange img{
        margin-top: -70px;
        margin-bottom: -70px;
    }
    
} 