@font-face {
	font-family: RobotoCondensed;
	src: url("/src/Fonts/RobotoCondensed-Regular.ttf")
}

.contacts-page {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000419;
    min-height: 100vh;
}

.email-phone{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.email {
    font-size: 17px;
    font-family: 'RobotoCondensed';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.phone {
    font-size: 17px;
    font-family: 'RobotoCondensed';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.s-networks {
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 35px;
    z-index: 2;
}

.map{
    grid-column-start: 7;
    grid-column-end: 12;
}

.for-center{
    width: max-content;
    height: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.for-row{
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-column-gap: 30px;
    align-items: center;

}

.img-cont-background1{
    position: absolute;
    height: 100%;
}

.img-cont-background2{
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-height: 100%;
    width: 100%;
}

/*adaptation*/
@media only screen and (max-width: 1340px) {
	.for-row{
        grid-template-columns: repeat(6, 65px);
        grid-template-rows: 0.5fr 1fr;
        grid-column-gap: 30px;
        row-gap: 50px;
        align-items: center;
    }
    .email-phone{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
    }
    .s-networks {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 35px;
        z-index: 2;
    }
    
    .map{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row: 2;
    }
    iframe{
        width: 540px; 
        height: 250px;
    }
} 

@media only screen and (max-width: 980px) {
	.for-row{
        grid-template-columns: repeat(6, 30px);
        grid-template-rows: 0.5fr 1fr;
        grid-column-gap: 30px;
        row-gap: 50px;
        align-items: center;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    .email-phone{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 15px;
    }
    .s-networks {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 35px;
        z-index: 2;
    }
    .email {
        font-size: 12px;
        font-family: 'RobotoCondensed';
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    
    .phone {
        font-size: 12px;
        font-family: 'RobotoCondensed';
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    
    .map{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row: 2;
    }

    iframe{
        width: 330px; 
        height: 175px;
    }
    .img-cont-background1{
        display: none;
        opacity: 0;
    }
} 

@media only screen and (max-width: 700px) {
	.for-row{
        grid-template-columns: repeat(6, 30px);
        grid-template-rows: 0.5fr 1fr;
        grid-column-gap: 30px;
        row-gap: 50px;
        align-items: center;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    .email-phone{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 15px;
    }
    .s-networks {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 35px;
        z-index: 2;
    }
    .email {
        font-size: 12px;
        font-family: 'RobotoCondensed';
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    
    .phone {
        font-size: 12px;
        font-family: 'RobotoCondensed';
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    
    .map{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row: 2;
    }

    iframe{
        width: 330px; 
        height: 175px;
    }
} 

@media only screen and (max-width: 500px) {
	.for-row{
        grid-template-columns: repeat(6, 30px);
        grid-template-rows: 0.3fr 0.3fr 1fr;
        grid-column-gap: 20px;
        row-gap: 30px;
        align-items: center;
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .email-phone{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding: 0px;
        gap: 15px;
    }
    .s-networks {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        gap: 35px;
        z-index: 2;
    }
    .email {
        font-size: 12px;
        font-family: 'RobotoCondensed';
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    
    .phone {
        font-size: 12px;
        font-family: 'RobotoCondensed';
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    
    .map{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row: 3;
    }

    iframe{
        width: 280px; 
        height: 175px;
    }
    .img-cont-background1{
        display: none;
        opacity: 0;
    }

    .img-s-network{
        width: 25px;
        height: auto;
    }
} 