.comment-block1{
    position: relative;
    width: 761px;
    height: 501px;

    background-image: url(../../images/comment-border1.png);
    background-repeat: no-repeat;
}

.comment-block2{
    position: relative;
    width: 506px;
    height: 501px;

    background-image: url(../../images/comment-border2.png);
    background-repeat: no-repeat;
}

.comment-block3{
    position: relative;
    width: 571px;
    height: 501px;

    background-image: url(../../images/comment-border3.png);
    background-repeat: no-repeat;
}

.comment-block-smallscreen2{
    position: relative;
    width: 506px;
    height: 501px;

    background-image: url(../../images/comment-border2.png);
    background-repeat: no-repeat;
}

.comment-block-smallscreen3{
    position: relative;
    width: 571px;
    height: 501px;

    background-image: url(../../images/comment-border3.png);
    background-repeat: no-repeat;
}

.comment-block4{
    position: relative;
    width: 696px;
    height: 501px;

    background-image: url(../../images/comment-border4.png);
    background-repeat: no-repeat;
}

.comment-content{
    margin: 90px;
    height: 315px;
    overflow: auto;
}

.comment-content p{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-right: 40px;
}

.photo-of-client{
    margin-right: 30px;
    margin-bottom: 20px;
    float: left;
}

.comment-content::-webkit-scrollbar {
    width: 6px;
}
 

/*scroll rules for component*/
.comment-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
}
 
.comment-content::-webkit-scrollbar-thumb {
    max-height: 10px;
    
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
}

@media only screen and (max-width: 1210px) {
    .comment-block2{
        display: none;
    }
    
    .comment-block3{
        display: none;
    }
    
}

@media only screen and (max-width: 768px) {
    .comment-block1{
        width: 571px;
        background-image: url(../../images/comment-border-smallscreen-version1.png);
    }

    .comment-block4{
        width: 506px;
        background-image: url(../../images/comment-border-smallscreen-version4.png);
    }
}

@media only screen and (max-width: 490px) {
    .comment-block1{
        width: 366px;
        height: 661px;
        background-image: url(../../images/comment-border-mobile-version1.png);
    }

    .comment-block-smallscreen2{
        width: 366px;
        height: 661px;
        background-image: url(../../images/comment-border-mobile-version2.png);
    }
    
    .comment-block-smallscreen3{
        width: 366px;
        height: 661px;
        background-image: url(../../images/comment-border-mobile-version3.png);
    }

    .comment-block4{
        width: 366px;
        height: 661px;
        background-image: url(../../images/comment-border-mobile-version4.png);
    }

    .comment-content{
        margin: 90px;
        height: 475px;
        overflow: auto;
    }
    
    .comment-content p{
        margin-top: 15px;
    }
    
    .photo-of-client{
        margin-right: 30px;
        margin-bottom: 20px;
        float: left;
    }
}