/*Settings for color chenges in border*/

.border_orange *{
    stroke: var(--background-color);
}
.border_blue *{
    stroke: var(--background-color);
}
.border_turquoise *{
    stroke: var(--background-color);
}

.circle-card:hover .border_orange{
    position: absolute;
    z-index: 2;
}
.circle-card:hover .border_orange *{
    stroke: #FFC01E;
}
.circle-card:hover .border_orange .white{
    stroke: #ffffff;
}

.circle-card:hover .border_turquoise{
    position: absolute;
    z-index: 2;
}
.circle-card:hover .border_turquoise *{
    stroke: #0DFFE6;
}
.circle-card:hover .border_turquoise .white{
    stroke: #ffffff;
}

.circle-card:hover .border_blue{
    position: absolute;
    z-index: 2;
}
.circle-card:hover .border_blue *{
    stroke: #0D17FF;
}

.circle-card:hover .border_blue .white{
    stroke: #ffffff;
}

/*Position*/
.circle-card{
    position: relative;
    min-width: 196px;
    height: 196px;
    overflow: hidden
}

.circle-card:hover .circle-photo-of-worker{
    position: absolute;
    left: 28px;
    top: 28px;
    z-index: 1;
    width: 140px;
    height: 140px;
}

.circle-photo-of-worker{
    position: absolute;
    left:18px;
    top:18px;
    z-index: 1;
    width: 160px;
    height: 160px;
    transition: all 0.3s;
}

/*descriprion*/
.position-in-circle-card{
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 2px;
}

.all-circle-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*if card was choosen*/
.circle-photo-of-worker-choose{
    position: absolute;
    left: 28px;
    top: 28px;
    z-index: 1;
    width: 140px;
    height: 140px;
}

.border_orange_choose{
    position: absolute;
    z-index: 2;
}
.border_orange_choose *{
    stroke: #FFC01E;
}
.border_orange_choose .white{
    stroke: #ffffff;
}

.border_turquoise_choose{
    position: absolute;
    z-index: 2;
}
.border_turquoise_choose *{
    stroke: #0DFFE6;
}
.border_turquoise_choose .white{
    stroke: #ffffff;
}

.border_blue_choose{
    position: absolute;
    z-index: 2;
}
.border_blue_choose *{
    stroke: #0D17FF;
}
.border_blue_choose .white{
    stroke: #ffffff;
}


@media only screen and (max-width: 840px) {
    .border_orange {
        margin-top: -37px;
        width: 120px;
    }
    .border_blue {
        width: 120px;
        margin-top: -37px;
    }
    .border_turquoise {
        margin-top: -37px;
        width: 120px;
    }
    .circle-card:hover .border_orange {
        margin-top: -37px;
        width: 120px;
    }
    .circle-card:hover .border_turquoise {
        margin-top: -37px;
        width: 120px;
    }
    .circle-card:hover .border_blue {
        margin-top: -37px;
        width: 120px;
    }
    /*Position*/
.circle-card{
    min-width: 120px;
    height: 120px;
    overflow: hidden
}

.circle-card:hover .circle-photo-of-worker{
    left: 21px;
    top: 21px;
    width: 80px;
    height: 80px;
}

.circle-photo-of-worker{
    left:18px;
    top:18px;
    width: 90px;
    height: 90px;
}

/*if card was choosen*/
.circle-photo-of-worker-choose{
    left: 21px;
    top: 21px;
    width: 80px;
    height: 80px;
}
.border_orange_choose{
    width: 120px;
    margin-top: -37px;
}
.border_turquoise_choose{
    width: 120px;
    margin-top: -37px;
}
.border_blue_choose{
    width: 120px;
    margin-top: -37px;
}  
}

